/*
 * filename: lab04.css
 * author: Tran Anh Tuan
 * created: 26/09/2025
 * last modified: 26/09/2025
 * description: CSS styles for lab04.html
 */

hr {
  height: 3px;
  /* Adjust the value for desired thickness */
  background-color: black;
  /* Set a color for the line */
  border: none;
  /* Remove default border for a solid look */
}

h1 {
  color: purple;
  font-size: 2em;
  font-weight: bold;
}

* {
  font-family: calibri, sans-serif;
  color: #2F4F4F;
}

h2 {
  color: rgb(0, 128, 128);
  font-weight: bold;
  font-size: 1.5em;
}

aside,
footer {
  font-style: italic;
}

h1,
h2,
h3 {
  font-family: arial, sans-serif;
}

table,
th,
td {
  border: 1px solid black;
}

.special {
  color: darkorange;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  padding: 0.2em 0.6em;
  border: 4px solid #ccc;
}

ol ul {
  list-style-type: square;
}

aside:hover {
  display: none;
}

nav a:hover {
  background-color: lightblue;
  border-color: darkblue;
}